<div style="
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../assets/pictures/other/leaves.jpg');
    text-align: center; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover;">
    <div class="buffer"></div>
    <h3 class="edgless"
        style="font-size: 80px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
            Hi, it's
    </h3>
    <h1 style="font-size: 150px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
        Heidi
    </h1>
</div>
<div style="
    min-height: 50vh;
    min-width: 100vw; text-align: center;">
    <a routerLink="/life" style="min-width: 50vw;">Life</a>
    <a routerLink="/work" style="min-width: 50vw;">Work</a>
</div>